<nav class="navbar">
    <div class="logo">Bolg App</div>
    <ul class="nav-links">
      <li><a routerLink="/accueil" routerLinkActive="text-dark">Accueil</a></li>
      <li><a routerLink="/connexion" routerLinkActive="text-dark">Connexion</a></li>
      <li><a routerLink="/ajoutarticl" routerLinkActive="text-dark">Ajouter un article</a></li>
      <li><a routerLink="/deconnexion" routerLinkActive="text-dark"> Déconnexion</a></li>
      <li><a routerLink="/recherche" routerLinkActive="text-dark">Recherche</a></li>


    </ul>
  </nav>
  